Repository dnd-side-project/dnd-13th-9-frontend, pull requests merged in 2025-08, with the labels that each got.

#5 chore : 깃허브 라벨 설정 (#3)
  labels.json
Labels: ⚙ Setting

#9 [chore] auto_reply 설정 변경 (#4)
  .coderabbit.yaml
Labels: ⚙ Setting

#8 [chore] 초기 라이브러리 설치 및 기본세팅
  package.json
  src/app/layout.tsx
  src/components/providers/query-provider.tsx
  src/lib/api/ky.ts
  src/lib/query-client.ts
  src/stores/example-store.ts
  src/stores/index.ts
  yarn.lock
Labels: ⚙ Setting

#15 [CHORE] 스토리북 배포 설정
  .github/workflows/chromatic.yaml
  .github/workflows/preview-storybook.yml
  package.json
  yarn.lock
Labels: ⚙ Setting, 🌏 Deploy

#18 [FEAT] 모달 컴포넌트 제작
  eslint.config.mjs
  package.json
  public/assets/ico-alert.svg
  src/components/ui/Button/Button.stories.tsx
  src/components/ui/Modal/Modal.stories.tsx
  src/components/ui/Modal/Modal.tsx
  src/components/ui/Modal/index.ts
  src/components/ui/Portal/Portal.tsx
  src/components/ui/Portal/index.tsx
  src/hooks/useModal.tsx
  yarn.lock
Labels: ✨ Feature

#20 [FEAT] Tabs 컴포넌트 제작
  src/components/ui/Tabs/Tabs.stories.tsx
  src/components/ui/Tabs/Tabs.tsx
  src/components/ui/Tabs/TabsContent.tsx
  src/components/ui/Tabs/TabsContext.ts
  src/components/ui/Tabs/TabsList.tsx
  src/components/ui/Tabs/TabsTrigger.tsx
  src/components/ui/Tabs/index.tsx
Labels: ✨ Feature

#27 [FEAT] Typography 설정
  package-lock.json
  package.json
  public/font/PoppinsSemiBold.woff2
  public/font/PretendardVariable.woff2
  src/app/globals.css
  src/app/layout.tsx
  src/components/ui/Typography/Typography.mdx
  src/components/ui/Typography/Typography.tsx
  src/components/ui/Typography/index.ts
  src/utils/style/index.ts
  yarn.lock
Labels: ✨ Feature

#29 [FIX] body 높이 및 배경색 추가
  src/app/layout.tsx
Labels: 🔨 Refactor

#33 [FEAT] Chip 컴포넌트 개발
  src/components/ui/Chip/Chip.stories.tsx
  src/components/ui/Chip/Chip.tsx
  src/components/ui/Chip/index.ts
Labels: ✨ Feature

#30 [FEAT] Button 컴포넌트 제작
  public/assets/ico_arrow_down.svg
  src/app/globals.css
  src/components/ui/Button/Button.stories.tsx
  src/components/ui/Button/Button.tsx
  src/components/ui/Modal/Modal.stories.tsx
Labels: ✨ Feature

#37 [FEAT] 메인 페이지 초기 작업
  .storybook/main.ts
  .storybook/preview.ts
  next.config.ts
  public/assets/ico-etiquette.svg
  public/assets/ico-house.svg
  public/assets/ico-logo.svg
  public/assets/ico-memo.svg
  public/assets/ico-my-page.svg
  public/assets/ico-video.svg
  src/app/(main)/page.tsx
  src/app/page.tsx
  src/components/main/IconTextRouter/IconTextRouter.stories.tsx
  src/components/main/IconTextRouter/IconTextRouter.tsx
  src/components/main/IconTextRouter/index.ts
  src/components/main/RecentlyViewedHouses/RecentlyViewedHouses.tsx
  src/components/main/RecentlyViewedHouses/index.ts
  src/components/main/RouteBox/RouteBox.stories.tsx
  src/components/main/RouteBox/RouteBox.tsx
  src/components/main/RouteBox/index.ts
  src/components/main/VerticalSlider/VerticalSlider.tsx
  src/components/main/VerticalSlider/index.ts
Labels: ✨ Feature

#28 [FEAT] Icon 컴포넌트 제작
  .storybook/main.ts
  next.config.ts
  package-lock.json
  package.json
  src/components/ui/Icon/Icon.stories.tsx
  src/components/ui/Icon/Icon.tsx
  src/components/ui/Icon/index.ts
  src/components/ui/assets/ico-add-image.svg
  src/components/ui/assets/ico-angry-fill.svg
  src/components/ui/assets/ico-angry.svg
  src/components/ui/assets/ico-arrow-down.svg
  src/components/ui/assets/ico-arrow-left.svg
  src/components/ui/assets/ico-bus.svg
  src/components/ui/assets/ico-check.svg
  src/components/ui/assets/ico-close.svg
  src/components/ui/assets/ico-current-location.svg
  src/components/ui/assets/ico-favorite.svg
  src/components/ui/assets/ico-happy-fill.svg
  src/components/ui/assets/ico-happy.svg
  src/components/ui/assets/ico-house.svg
  src/components/ui/assets/ico-list.svg
  src/components/ui/assets/ico-location-add.svg
  src/components/ui/assets/ico-map.svg
  src/components/ui/assets/ico-my-page.svg
  src/components/ui/assets/ico-search.svg
  src/components/ui/assets/ico-share.svg
  src/components/ui/assets/ico-so-so-fill.svg
  src/components/ui/assets/ico-so-so.svg
  src/components/ui/assets/ico-spinner-down.svg
  src/components/ui/assets/ico-trash.svg
  src/components/ui/assets/index.tsx
  src/types/svg.d.ts
  src/utils/style/colors.ts
  yarn.lock
Labels: ✨ Feature

#42 [FEAT] 매물 지도 / 메모하기 플로팅 버튼 UI 작업
  .storybook/main.ts
  public/favicon.ico
  src/app/layout.tsx
  src/app/map/page.tsx
  src/components/layout/MainLayout.tsx
  src/components/map/Map/CurrentLocationOverlay.tsx
  src/components/map/Map/KakaoMap.tsx
  src/components/map/Map/MapChips.tsx
  src/components/map/Map/MemoOverlay.tsx
  src/components/ui/CategoryChip/CategoryChip.tsx
  src/components/ui/CategoryChip/index.ts
  src/components/ui/Fab/Fab.stories.tsx
  src/components/ui/Fab/Fab.tsx
  src/components/ui/Fab/index.ts
  src/components/ui/Icon/Icon.tsx
  src/components/ui/Portal/Portal.tsx
  src/components/ui/TabBox/TabBox.stories.tsx
  src/components/ui/TabBox/TabBox.tsx
  src/components/ui/TabBox/TabBoxContent.tsx
  src/components/ui/TabBox/TabBoxContext.ts
  src/components/ui/TabBox/TabBoxList.tsx
  src/components/ui/TabBox/TabBoxTrigger.tsx
  src/components/ui/TabBox/index.ts
  src/components/ui/assets/ico-location-add.svg
  src/components/ui/assets/ico-map.svg
  src/hooks/useKakaoLoader.ts
Labels: ✨ Feature, ✨feature

#48 [FEAT] 주변 장소 메모하기 페이지 제작 , 컴포넌트 배포 작업
  .github/workflows/chromatic.yaml
  .github/workflows/preview-storybook.yml
  src/app/map/nearby-memo/page.tsx
  src/components/HouseMemo/AddImgGroup/AddImg/AddImgButton.tsx
  src/components/HouseMemo/BaseInfo/BaseInfo.tsx
  src/components/HouseMemo/BaseInfo/BaseInfoForm/BaseInfoForm.tsx
  src/components/HouseMemo/BaseInfo/BaseInfoForm/index.ts
  src/components/HouseMemo/BaseInfo/Map/KakaoMap.tsx
  src/components/HouseMemo/LabelContainer/LabelContainer.tsx
  src/components/NearbyMemo/NaerbyInfoForm/NearbyInfoConfig.ts
  src/components/NearbyMemo/NaerbyInfoForm/NearbyInfoForm.tsx
  src/components/NearbyMemo/NaerbyInfoForm/index.ts
  src/components/map/Map/SearchMapBottomSheet.tsx
  src/components/ui/Chip/Chip.stories.tsx
  src/components/ui/Chip/Chip.tsx
  src/components/ui/ChipGroup/ChipGroup.stories.tsx
  src/components/ui/ChipGroup/ChipGroup.tsx
  src/components/ui/CurrentLocationButton/CurrentLocationButton.tsx
  src/components/ui/assets/ico-example.svg
  src/components/ui/assets/index.tsx
  src/types/nearby-memo.ts
Labels: ✨ Feature, ⚙️chore

#54 [FEAT] 메모(매물 메모, 장소 메모) 저장하기 - api연동 전 및 컴포넌트 작업
  next.config.ts
  package-lock.json
  package.json
  public/assets/active-folder.svg
  public/assets/default-folder.svg
  public/favicon.ico
  src/app/(main)/page.tsx
  src/app/globals.css
  src/app/map/folder/[id]/page.tsx
  src/app/map/house-memo/[id]/page.tsx
  src/app/map/layout.tsx
  src/app/map/nearby-memo/[id]/page.tsx
  src/app/map/page.tsx
  src/components/map/ListTab/MapList.tsx
  src/components/map/Map/KakaoMap.tsx
  src/components/map/Map/MapChips.tsx
  src/components/map/Map/MemoOverlay.tsx
  src/components/map/Map/SearchMapBottomSheet.tsx
  src/components/map/MapTab/CurrentLocationOverlay.tsx
  src/components/map/MapTab/MapChips.tsx
  src/components/map/MapTab/SelectedPropertyCard.tsx
  src/components/map/mapData.ts
  src/components/ui/CategoryChip/CategoryChip.tsx
  src/components/ui/Header/Header.stories.tsx
  src/components/ui/Header/Header.tsx
  src/components/ui/Header/index.ts
  src/components/ui/Icon/Icon.tsx
  src/components/ui/Marker/MapPin.stories.tsx
  src/components/ui/Marker/MapPin.tsx
  src/components/ui/Marker/index.ts
  src/components/ui/TabBox/TabBoxTrigger.tsx
  src/components/ui/assets/ico-add.svg
  src/components/ui/assets/ico-folder.svg
  src/components/ui/assets/ico-gps.svg
  src/components/ui/assets/ico-map-house.svg
  src/components/ui/assets/ico-map-nearby-bad.svg
  src/components/ui/assets/ico-map-nearby-convenience.svg
  src/components/ui/assets/ico-map-nearby-good.svg
  src/components/ui/assets/ico-map-nearby-noise.svg
  src/components/ui/assets/ico-map-nearby-security.svg
  src/components/ui/assets/ico-map-nearby-traffic.svg
  src/components/ui/assets/ico-map-pin.svg
  src/components/ui/assets/ico-more.svg
  src/components/ui/assets/index.tsx
  src/hooks/useKakaoLoader.ts
  src/hooks/useKakaoMapCore.ts
  src/hooks/useKakaoMarkers.ts
  src/hooks/useMapSelection.ts
  src/lib/api/ky.ts
  src/stores/useMapStore.ts
  src/utils/feeling.ts
  src/utils/labels.ts
  src/utils/style/colors.ts
  tsconfig.json
  yarn.lock
Labels: ✨feature, 🐞bugfix

#66 [FEAT] 메인 페이지 일러스트 추가 및 인터렉션 작업
  public/assets/bg-checklist.svg
  public/assets/bg-main-map.svg
  public/assets/bg-main-vote.svg
  public/assets/ico-checklist-search.svg
  public/assets/ico-etiquette.svg
  public/assets/ico-eye.svg
  public/assets/ico-finger.svg
  public/assets/ico-house.svg
  public/assets/ico-list.svg
  public/assets/ico-logo.svg
  public/assets/ico-main-map-pen.svg
  public/assets/ico-main-vote.svg
  public/assets/ico-memo.svg
  public/assets/ico-tip.svg
  public/assets/ico-video.svg
  public/assets/ico-zipzip-text.svg
  public/assets/ico-zipzip.svg
  public/lottie/loading.json
  src/app/(main)/page.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/map/page.tsx
  src/components/main/IconTextRouter/IconTextRouter.tsx
  src/components/main/RouteBox/RouteBox.tsx
  src/components/main/VerticalSlider/VerticalSlider.tsx
  src/components/map/ListTab/mapListOverlays/MapListCreateModal.tsx
  src/components/map/ListTab/mapListOverlays/MapListDeleteModal.tsx
  src/components/map/ListTab/mapListOverlays/MapListRenameModal.tsx
  src/components/ui/Header/Header.tsx
  src/types/lottie-player.d.ts
  tsconfig.json
Labels: ✨ Feature, ✨feature

#75 feat: 인증 가드 도입 및 비로그인 처리 개선
  middleware.ts
  src/queries/user/useMyInfo.ts
  src/services/auth.ts
Labels: ✨feature

#76 feat: 인증 가드 도입 및 비로그인 처리 개선
  middleware.ts
  src/queries/user/useMyInfo.ts
  src/services/auth.ts
Labels: ✨feature

#80 [release] ver 1.0.2.2
  public/assets/bg-main-map.svg
  public/assets/ico-checklist-search.svg
  public/assets/ico-eye.svg
  public/assets/ico-logo-text.svg
  public/assets/ico-logo.svg
  public/assets/ico-main-map-pen.svg
  public/assets/ico-zipzip-text.svg
  public/assets/login/lco-house.svg
  public/assets/login/lco-light.svg
  public/assets/login/lco-plants.svg
  public/assets/login/lco-search.svg
  public/assets/main/bg-checklist.svg
  public/assets/main/bg-map.svg
  public/assets/main/bg-vote.svg
  public/assets/main/ico-checklist.svg
  public/assets/main/ico-etiquette.svg
  public/assets/main/ico-finger.svg
  public/assets/main/ico-house-memo.svg
  public/assets/main/ico-map.svg
  public/assets/main/ico-memo-list.svg
  public/assets/main/ico-tip.svg
  public/assets/main/ico-vote.svg
  src/app/(main)/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/map/folder/[id]/page.tsx
  src/app/map/page.tsx
  src/components/main/VerticalSlider/VerticalSlider.tsx
  src/components/map/Map/KakaoMap.tsx
  src/components/map/MapTab/MapChips.tsx
  src/components/map/MapTab/SelectedPropertyCard.tsx
  src/components/ui/Icon/AnimatedFingerIcon.tsx
  src/components/ui/KakaoLoginButton/KakaoLoginButton.tsx
  src/components/ui/Marker/MapPin.tsx
  src/components/ui/assets/ico-map-house.svg
  src/components/ui/assets/ico-map-nearby-bad.svg
  src/components/ui/assets/ico-map-nearby-convenience.svg
  src/components/ui/assets/ico-map-nearby-good.svg
  src/components/ui/assets/ico-map-nearby-noise.svg
  src/components/ui/assets/ico-map-nearby-security.svg
  src/components/ui/assets/ico-map-nearby-traffic.svg
  src/components/ui/assets/index.tsx
  src/hooks/useKakaoMapCore.ts
  src/hooks/useKakaoMarkers.ts
  src/hooks/useMapSelection.ts
  src/lib/api/ky.ts
  src/queries/user/useLogout.ts
Labels: ✨feature

#83 [FEAT] 2차 QA 반영 (메인, 지도, 리스트, 기타)
  middleware.ts
  package.json
  public/assets/empty-folder.svg
  public/assets/etiquette/ico-etiquette-01.svg
  public/assets/etiquette/ico-etiquette-02.svg
  public/assets/etiquette/ico-etiquette-03.svg
  public/assets/etiquette/ico-etiquette-04.svg
  public/assets/etiquette/ico-etiquette-05.svg
  public/assets/etiquette/ico-etiquette-06.svg
  public/assets/etiquette/ico-etiquette-07.svg
  public/assets/etiquette/ico-etiquette-08.svg
  public/assets/etiquette/ico-etiquette-09.svg
  public/assets/etiquette/ico-etiquette-10.svg
  public/assets/etiquette/ico-etiquette-11.svg
  public/assets/etiquette/ico-etiquette-12.svg
  public/assets/ico-no-image.svg
  public/assets/vote/ico-vote.svg
  public/assets/vote/img-vote-01.svg
  public/assets/vote/img-vote-02.svg
  src/app/(main)/page.tsx
  src/app/etiquette/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/map/folder/[id]/page.tsx
  src/app/map/page.tsx
  src/app/vote/page.tsx
  src/components/main/RecentlyViewedHouses/RecentlyViewedHouses.tsx
  src/components/map/ListTab/section/FolderGrid.tsx
  src/components/map/ListTab/section/PlanGrid.tsx
  src/components/map/Map/KakaoMap.tsx
  src/components/map/MapTab/SelectedPropertyCard.tsx
  src/queries/folder/useCreateFolderMutation.ts
  src/queries/folder/useDeleteFolderMutation.ts
  src/queries/houseMemo/useCreateHouseMemo.ts
  src/queries/nearbyMemo/useCreateNearbyMemo.ts
  src/queries/plan/useCreatePlanMutation.ts
  src/queries/plan/useDeletePlanMutation.ts
  src/queries/property/useRecentProperties.ts
  src/services/folder.ts
  src/services/plan.ts
  src/services/property.recent.ts
  src/types/aos.d.ts
  yarn.lock
Labels: ✨ Feature, ✨feature, 🐞bugfix
